In [22]:
import mysql.connector as connector

In [23]:
connection = connector.connect(user='root', 
                               password='Devondummy12143!', 
                               host='127.0.0.1', 
                               port=3306, 
                               db='db_capstone_project', 
                               auth_plugin='mysql_native_password')

In [24]:
cursor = connection.cursor()

In [25]:
show_tables = """SHOW tables"""
cursor.execute(show_tables)
results = cursor.fetchall()

In [26]:
print(results)

[('bookings',), ('customers',), ('employees',), ('menu',), ('menu_items',), ('order_delivery_status',), ('orders',), ('orders_view',)]

In [27]:
promotion_query = """SELECT 
CONCAT(customers.first_name, ' ', customers.last_name) AS full_name,
customers.phone_number,
customers.email
orders.order_cost
FROM customers
INNER JOIN bookings ON bookings.customer_id = customers.customer_id
INNER JOIN orders ON orders.booking_id = bookings.booking_id
WHERE orders.order_cost > 60"""
cursor.execute(promotion_query)
promotion_results = cursor.fetchall()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.order_cost
FROM customers
INNER JOIN bookings ON bookings.customer_id = custome' at line 5

In [28]:
print(promotion_results)

[('luke jefferys', 3219876543, 'luke@skywalker.com')]